


<ion-content padding>

	<ion-list inset>

	  <ion-item>
	    <ion-label>帳號</ion-label>
	    <ion-input type="text" [(ngModel)]="loginData.account"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label>密碼</ion-label>
	    <ion-input type="password" [(ngModel)]="loginData.password"></ion-input>
	  </ion-item>

	</ion-list>

	<button ion-button full (click)="login()">登入</button>

</ion-content>
