<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="首頁" tabBadge="" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="訊息" tabBadge="2" tabIcon="md-mail"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="設定" tabBadge="" tabIcon="ios-archive-outline"></ion-tab>
</ion-tabs>
