<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>首頁</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<h4>Hello Everyone</h4>
	<ion-item *ngFor="let user of users">
		<h4>名字：{{user.name}}</h4>
		<h4>電話：{{user.tel}}</h4>
	</ion-item>
	<div *ngIf="abc">
		<button ion-button (click)="change()"></button>
	</div>
	<div *ngIf="abc">
		<button ion-button (click)="change1()"></button>
	</div>
</ion-content>
